html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hdInner {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

h1 {
  margin-top: 8rem;
  font-size: 7rem;
}

.calendar-title {
  font-size: 7rem;
  text-align: center;
}

.calendar-table {
  margin: 0 auto;
  text-align: center;
}

.calendar-table .is-today {
  color: blue;
}

.calendar-table td {
  font-size: 10rem;
  border: solid 1px black;
}

.calendar-table th {
  font-size: 4rem;
}

h2 {
  color: red;
  font-size: 3rem;
}

.confirmHead {
  text-align: center;
  color: red;
  font-size: 4rem;
}

.confirmTable {
  margin-right: auto;
  margin-left: auto;
}

.confirmTable th {
  border: solid 1px black;
  font-size: 4rem;
}

.confirmTable td {
  border: solid 1px black;
  font-size: 4rem;
}

footer {
  margin: 1rem 0;
}

.reserveFormHead {
  text-align: center;
}

.reserveForm {
  font-size: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.calendarTitles {
  display: flex;
  justify-content: center;
}

.toReserve {
  font-size: 4.0rem;
  text-align: center;
}

.toReserve a {
  color: white;
  border: 2px solid blue;
  border-radius: 10px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: indigo;
}

.Desc {
  text-align: center;
  font-size: 3rem;
}
